:root {
  --body-bg: #e2ddd5;
  --primary-font: maison-neue, Helvetica;
  --bar-bg: #212529;
}

@font-face {
  font-family: "ogg-regular";
  src: url("fonts/Ogg-Regular.eot") format("eot");
  rc: url("/fonts/Ogg-Regular.otf") format("otf");
}

@font-face {
  font-family: "maison-neue";
  src: url("fonts/MaisonNeueExtendedWEB-Book.woff2") format("woff2"),
    url("/fonts/MaisonNeueExtendedWEB-Book.woff") format("woff");
}

body {
  font-family: var(--primary-font);
  background: var(--body-bg);
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.container-modal {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  height: auto;
}

.image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-wrap .layer {
  position: fixed;
}

.image-wrap .layer.a {
  z-index: 1;
}

.image-wrap .layer.b {
  z-index: 2;
}
.image-wrap .layer.c {
  z-index: 3;
}
.image-wrap .layer.d {
  z-index: 4;
}

.image-wrap .layer.a img {
  width: 39vw;
}
.image-wrap .layer.b img {
  width: 30vw;
}

.image-wrap .layer.c img {
  width: 34vw;
}

.image-wrap .layer.d img {
  width: 22vw;
}

.image-wrap div {
  display: none;
}

.image-wrap .layer {
  display: block;
}

.third {
  width: 33%;
}
.third.overlay {
  margin-top: 8px;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}

h1,
.h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.5px;
}
h2,
.h2 {
}
h3,
.h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.5px;
}
h4,
.h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.5px;
}

h4 a, .h4 a {
  color: inherit;
  text-decoration: none;
}

h5,
.h5 {
}

p {
  line-height: 1.5;
  letter-spacing: 0.5px;
}

p a {
  text-decoration: none;
  color: inherit;
}

.maison {
  font-family: maison-neue, sans-serif, Arial, Helvetica, sans-serif;
}

main {
  background: url(images/Babette_logo3.svg);
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
}





.contact, .story {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    top: 0;
    left: 0;
    background: var(--body-bg);
    display: none;

}

.modalWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;

  margin: 0 auto;
  height: 100%;
}

.storyText {
  text-align: center;
  position: relative;
  top: -80px;
  
}

/* Mobile */

.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}




.scroll-container {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 60px;
}


.scroller {
  display: block;
  width: 200%;
  height: 45px;
  position: absolute;
  overflow: hidden;
  animation: marquee 15s linear infinite;
}

.scroll-container h4 span {
  margin: 0 80px;
  font-size: 0.7rem;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}
